.nav-link:hover{
    border-top: 3px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    color: #9b9b9b;
}

.nav-link:active{
    border-top: 3px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    color: #9b9b9b;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }

#login, #logout{
    width: 100px;
}