*{
  box-sizing: border-box;
}
body{
  background-color: #f4f6f8;
  margin: 0;
  padding: 10px;
}

.imageContainer{
  width: 700px;
  height: 400px;
  /*border: 2px solid royalblue;*/
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

.uploadBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
}

input[type='file']{
  display: none;
}

.btn {
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  top:50px;
}

form button{
  width: 100px;
  margin: auto;
  height: 30px;
  border: none;
  background-color: #fdbf1c;
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
}

.uploadBox img{
  height: 400px;
  width: 700px;
  border-radius: 5px;
}

.allimage {
  padding-left: 15px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.allimage img {
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}




/*
.slider{
  height: 332px;
}

.slider img{
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
} 
*/
#nav {
  list-style-type: none;
  z-index: 150;
}

#nav li a {
  display: block;
  width: 58px;
  height: 102px;
  text-indent: -9999px;
  outline: none;
}

#prev a {
  background: url(../public/prev.png);
  width: 58px;
  height: 102px;
  position: absolute;
  top: 460px;
  left: 90px;
}

#next a {
 background: url(../public/next.png);
 width: 58px;
 height: 102px;
 position: absolute;
 top: 460px;
 right: 90px;
}

#next a:hover {
 background: url(../public/next_hover.png);
}

#prev a:hover {
 background: url(../public/prev_hover.png);
}