*{
  box-sizing: border-box;
}
body{
  background-color: #f4f6f8;
  margin: 0;
  padding: 10px;
}

.allimage {
  padding-left: 15px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.allimage img {
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}